<img src="images/FOM-ifes-logo.png" height="30" width="125"  align=right>

<img src="images/Originaltitelseite-Autoren.png" height="26" vertical-align: "middle">
<img src="images/Originaltitelseite-Titeltext.png" height="40">
<img src="images/Originaltitelseite-TitelLogo.png" height="24">
<img src="images/Originaltitelseite-Projekttitel.png" height="10">

<hr>